variables:
  APPNAME: "${CI_PROJECT_NAME}"

stages:
  - buildDev
  - buildProd
  - deploy

buildDev:
  tags:
    - docker
  stage: buildDev
  script:
    - chmod +x ./gradlew
    - ./gradlew clean assemble --refresh-dependencies -Denv=dev
    - docker build -f src/main/docker/Dockerfile -t registry.cn-hangzhou.aliyuncs.com/yangke/yangke/$APPNAME:dev .
    - docker push registry.cn-hangzhou.aliyuncs.com/yangke/yangke/$APPNAME:dev
  except:
    - tags
    - dev-*
  only:
    - dev

buildProd:
  stage: buildProd
  script:
    - chmod +x ./gradlew
    - ./gradlew clean assemble --refresh-dependencies -Denv=production
    - docker build -f src/main/docker/Dockerfile -t registry.cn-hangzhou.aliyuncs.com/yangke/yangke/$APPNAME:${CI_COMMIT_TAG} .
    - docker push registry.cn-hangzhou.aliyuncs.com/yangke/yangke/$APPNAME:${CI_COMMIT_TAG}
  only:
    - tags
  when: manual

deployToTestEnv:
  tags:
    - docker
  stage: deploy
  script:
    - echo 'deploy start'
    - /opt/publish_ali_jar_apm/deploy.sh $APPNAME
  except:
    - tags
    - dev-*
  only:
    - dev
